.text-modal{
    padding: 50px;
    text-align: center;
    font-family: 'Roboto';
}

.subtitle-modal{
    font-family: 'Milky';
    color: orange;;
}

.button-modal{
    margin: auto;
    background-color: black;
}

.bg-button{
    background-color: orange;
    color: black;
    margin: auto;

}

.form-custom{
    all: initial;
    padding: 10px;
    text-align: center;
    background: white;
    font-family: 'Roboto';
    border-radius: 10px;
    margin-bottom: 60px;
}